<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><%= title %></h3>
	<ui>
        <% for(var i =0; i<data.length;i++){ %>
            <li><%= data[i].name %> ---->
			價格:<%= data[i].price %> 
			類型: <%= data[i].type %></li>
			<img src=<%= '/img/'+data[i].id+'/pic.png' %> width = "240px" height = "240px">
        <% }; %>
		
	</ui>
	<a href="/logout">登出</a>
  </body>
</html>